body {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 5px 8px;
}

dl dt {
  grid-column: 1;
}

dl dd {
  grid-column: 2;
  margin: 0;
}

#question button {
  border: none;
  background: none;
  padding: 5px;
  line-height: 1;
  font-size: 40px;
  cursor: pointer;
}

#question button:hover {
  background-color: #555;
  color: #fff;
}

#start-screen button {
  color: black;
  font-size: 30px;
  padding: 15px 30px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
  margin: 20px;
}

#start-easy {
  background-color: #cf0;
}

#start-easy:hover {
  background-color: #df3;
  transform: scale(1.05);
}

#start-normal {
  background-color: #fc0;
}

#start-normal:hover {
  background-color: #fd3;
  transform: scale(1.05);
}

#start-hard {
  background-color: #f66;
}

#start-hard:hover {
  background-color: #f77;
  transform: scale(1.05);
}

#start-again {
  background-color: #fc0;
  color: black;
  font-size: 30px;
  padding: 15px 30px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
  margin: 20px;
}

#result-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-again:hover {
  background-color: #fd3;
  transform: scale(1.05);
}

#character-detail-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#character-detail {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 15px;
  text-align: left;
  list-style: none;
  padding: 0;
  max-width: 700px;
}

#character-detail li {
  display: contents;
  gap: 0 15px;
}

#character-detail .character-outline {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#character-detail .character {
  font-size: 50px;
  line-height: 1;
}

#character-detail .jouyou {
  font-size: 14px;
}

#character-detail .data-list {
  grid-column: 2;
  margin: 0;
}
